/* for top heading left border */
body{
    background-color: rgb(255, 235, 255);
    margin: 0;
}
#top-left-border{
    border-left: 2px solid;
    padding-left: 7px;
    border-image: linear-gradient(rgb(152, 82, 245),  rgb(156, 18, 92));
    border-image-slice: 1;
    
}
section p {
    margin-bottom: 20px;
}

.colorful{
   color: #8e35b8;
}
/* For section one */
.sec-one{
    display: flex;
    margin-bottom: 20px;
    margin-top: 5%;
}
.sec-one img {
    width: 250px;
    
}
.width{
    width: 40%;
}
.heading-div{
    margin-left: 10%;
    margin-right: 10%;
}


.button{
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 50px;
    background-color: rgb(231, 200, 23);
    font-size: 16px;
    box-shadow: 1px 1px 5px gray;
    


}
/* section one DONE */

#center{
    margin-top: 30px;
    text-align: center;
    color: #7f26a8;
    
}
.sec-two{
    margin-top: 40px;
    display: flex;
}
.sec-two img {
    margin-top: 20px;
    width: 100px;
    
}

#mission{
    background-color: rgba(251, 192, 251, 0.548);
    width: 40% ;
    margin-left: 10%;
    margin-right: 5%;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px gray;
}

#vission{
    background-color: rgba(126, 202, 64, 0.548);
    width: 40% ;
    margin-right: 5%;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px gray;
}

#goals{
    background-color: rgba(216, 176, 43, 0.548);
    width: 40% ;
    margin-right: 10%;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px gray;
}

/* section two DONE */

.sec-three{
    margin-top: 80px;
    display: flex;
    margin-left: 10%;
    
}
.sec-three img {
    width: 350px;
    
}

.image{
    border-radius: 20px;
    box-shadow: 1px 1px 5px gray;

}

.sec-three-develop{
    margin-left: 80px;
    margin-top: 40px;
    margin-right: 10%;

}

/* section tree DONE */

.sec-four{
    margin-top: 80px;
    display: flex;
margin-right: 10%;
    
}
.sec-four img {
    width: 350px;
    
}

.image{
    border-radius: 23px;
    box-shadow: 1px 1px 5px gray;

}

.sec-four-community{
    margin-right: 80px;
    margin-top: 40px;
    margin-left: 10%;

}
/* section four DONE */

/* section FIVE: Footer; *This section has been created with the help of Google. There is something new for me :) */
.footer{
    margin-top: 60px;
    background: #505074;
    color: #d3d3d3;
    height: 300px;
    position: relative;


}
.footer .footer-content{ 
    height: 250px;
    display: flex;
}
.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px; 
}
.footer .footer-content h1,
.footer .footer-content h2{
    color: white;
}
.about{
    margin-left: 10%;
    margin-right: 30px;
}
.links{
    margin-right: 30px;
    margin-left: 30px;
}
.contact-form{
    margin-right: 10%;
    margin-right: 30px;
}

.footer .footer-content .about h1 span{
color: #02b5c5;
}
.footer .footer-content .links ul{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.anchor-tag{
    color: rgb(197, 206, 216);
    
    text-decoration: none;
}
.footer .footer-content .contact-form .contact-imput {
    background: #272727;
    color: #beddbd;
    margin-bottom: 10px;
    line-height: 1.5em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #02b5c5;
    
}

.footer .footer-bottom {
    background: #393c58;
    color: #128690;
    width: 100%;
    height: 50px;
    text-align: center;
    position: absolute;
    padding-top: 20px;

} 

.submit-button{
    background: #a3a9ad;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #02b5c5;
}
/* //footer */